<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Nick and Euan's Sweet Stock App</title>
  <link rel='stylesheet' href='/style.css' />
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Last Trade Checker</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>